{% extends "base.html" %}
{% block content %}

<h2>Drow Graph</h2>

    <p>File Select</p>
    <form method="post" enctype="multipart/form-data" action="{{ url_for("draw_graph")}}">
        <select name="sel">
            {% for file in filelist %}
            <option value={{file}}>{{file}}</option>
            {% endfor %}
        </select>
        <div>
            <input type="submit" value="submit">
        </div>
    </form>

<h2>Graph</h2>
    {% if figlist == [] %}
    <p>Graph is not exist.</p>
    {% else %}    
        {% for fig in figlist %}
        <p>{{ fig }}</p>
        <img src="{{ url_for('static', filename='picture/' + fig)}}">
        {% endfor %}
    {% endif %}

{% endblock%}